@page "/employeelist"
@inherits EmployeeListBase

<h3>Employee List</h3>

@if (Employees == null)
{
    <div class="spinner">Loading</div>
}
else
{
<button class="btn btn-primary" @onclick="CreateNewEmployee">Create New Employee</button>
<h3>Selected Employees Count: @SelectedEmployeeCount</h3>
<div>
    <input type="checkbox" id="showFooter" @bind="@ShowFooter"/>
    <label for="showFooter">Show footer</label>
</div>
<div class="card-deck">
    @foreach (var employee in Employees)
    {
        <EmployeeItem Employee="@employee"
                      ShowFooter="@ShowFooter"
                      OnEmployeeSelection="EmployeeSelectionChanged"
                      OnDeleteEmployee="DeleteEmployee"></EmployeeItem>
        @*<div class="card m-3" style="min-width:18rem;max-width:30.5%;">
            <div class="card-header">
                <h3>@employee.FirstName @employee.LastName</h3>
                <img class="card-img-top imageThumbnail" style="height:200px" src="@employee.PhotoPath"/>
                <div class="card-footer text-center">
                    <a href="@($"employeedetails/{employee.EmployeeId}")" class="btn btn-primary m-1">View</a>
                    <a href="#" class="btn btn-primary m-1">Edit</a>
                    <a href="#" class="btn btn-primary m-1">Delete</a>
                </div>
            </div>
        </div>*@
    }
</div>
}